* {
    padding: 0;
    margin: 0;
    /* color: #000; */
    box-sizing: border-box;
}

:root {
    --green: #008000;
    --blue: #0000ff;
    --orange: #ff8000;
    --gradient-tricolor: linear-gradient(to right bottom, #ff8000, #ff846c, #e8ddff, #bddcf9, #65cae6, #00b6b7, #009e6d, #008000);
    --gradient-blue: linear-gradient(79deg, rgba(169, 182, 187, 1) 33%, rgba(31, 121, 161, 1) 91%);

    /* linear-gradient(to right bottom, #ff8000, #ff846c, #ff9cb1, #ffbde4, #ffddfe, #e8ddff, #d1ddff, #bddcf9, #65cae6, #00b6b7, #009e6d, #008000); */
}

body {
    font-family: monospace, sans-serif;
}

.container {
    /* background: red; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    padding: 2rem;
    /* background: rgb(169, 182, 187); */
    background-image: var(--gradient-tricolor);
    /* background: linear-gradient(79deg, rgba(169, 182, 187, 1) 33%, rgba(31, 121, 161, 1) 91%); */
}

.detailed-box {
    /* border: 1px solid blue; */
    padding: 1rem;
    box-shadow: 0 0 20px #114839;
    border-radius: 15px;
    /* background: #1f79a1; */
    background: rgb(17, 67, 89);
    /* background: rgba(0, 0, 0, .5); */
    background: var(--gradient-tricolor);
    /* background-image: url(./img/flag.jpeg);
    background-size: contain;
    background-blend-mode: multiply; */
    /* background-image: var(--gradient-blue) */
    /* background: linear-gradient(79deg, rgba(17, 67, 89, 1) 52%, rgba(31, 121, 161, 1) 91%);
    border-top-right-radius: 100px; */
}

.detailed-box :is(h1, h2, p) {
    color: #000;
}

.btns {
    display: flex;
    flex-direction: column;
}

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background: rgba(170, 180, 187, 1);
    /* filter: brightness(80%); */
}

h1 {
    color: #fff;
    margin-left: 1rem;
}

.right {
    text-align: right;
}

@media (max-width: 465px) {
    .container {
        padding: 1rem;
    }

    .form-field input[type='number'] {
        width: 100%;
    }

    /* CODE TO USE LATER If Demand*/
    /* .align {
        flex-direction: column-reverse;
    }

    .btns {
        flex-direction: row;
        margin-top: 1rem;
    }

    .btns>*+* {
        margin-left: 1rem;
    } */

    input[type='submit'] {
        display: block;
        margin: 0 auto;
        margin-top: 0.5rem;
    }
}


/* CARD GENERATED */